/* 레이아웃 */
#header{width: 100%; height: 327px; background: url(responsiv/img/header_bg.jpg) repeat-x center top;}
#header .header_menu{width: 100%; text-align: right;}
#header .header_menu a{color: #fff; padding: 8px 0 6px 10px; display: inline-block; font-family: 'Abel', sans-serif;}
#header .header_menu a:hover{color: #ccc;}
/* 헤더 타이틀 */
#header #header_title{text-align: center; text-transform: uppercase; margin-top: 55px; font-family: 'Abel', sans-serif;}
#header #header_title h1{font-size: 30px; background-color: #51b0dc; color: #fff; display: inline-block;
padding: 5px 30px 5px 30px; letter-spacing: 2px; font-weight: 900;   transition: box-shadow 0.26s ease-in-out;}
#header #header_title h1:hover{
  box-shadow: inset -9em 0 0 0 #257fac,
  inset 9em 0 0 0 #257fac;
}
#header #header_title a{
  font-size: 16px;
  color: #fff;
  background-color: #4a9abf;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  margin-top: -7px;
  transition: box-shadow 0.26s ease-in-out;
}
#header #header_title a:hover{
  box-shadow: inset 0 0 0 5px rgba(75, 154, 191, 0.9),
  inset 0 0 0 100px rgba(0, 0, 0, 0.1);
}

/* 헤더 - 아이콘 */
#header .header_icon{text-align: center; margin-top: 40px; padding-bottom: 45px;}
#header .header_icon ul{}
#header .header_icon li{display: inline-block; margin: 0 2px;}
#header .header_icon li a {
  background-color: #3192bf;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: #fff;
  display: inline-block;
  font-size: 35px;
  line-height: 60px;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
}
#header .header_icon li a span{
  position: absolute;
  left: 50%; top: -50px;
  transform: translateX(-50%);
  font-size: 12px;
  line-height: 1.1;
  background: #3192bf;
  padding: 3px 9px;
  border-radius: 6px 0;
  transition: all 0.3s ease;
   opacity: 0;
}
#header .header_icon li a:hover{
  box-shadow: 0 0 0 3px rgba(75, 154, 191, 0.9) inset,
  0 0 0 100px rgba(0, 0, 0, 0.1) inset;
}
#header .header_icon li a:hover span{
  opacity: 1;
  top: -33px;
}
#header .header_icon li a span::before{
  content: '';
  position: absolute;
  left: 50%; bottom: -5px;
  border-top: 5px solid #3192bf;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-left: -5px;
}

/* 전체 메뉴 */
#nav{background-color: #f5fdff; display: none;}
#nav .row{}
#nav .row .nav{overflow: hidden; padding-top: 30px;}
#nav .row .nav > div{float: left; width: 40%;}
#nav .row .nav div:last-child{width: 20%;}
#nav .row .nav > div ol{overflow: hidden;}
#nav .row .nav > div ol li{float: left; width: 50%; position: relative;  box-sizing: border-box; padding-left: 8px;}
#nav .row .nav > div ol li::before{content: ''; width: 3px; height: 3px; border-radius: 50%; position: absolute; left: 0px; top: 6px; background-color: #25a2d0;}
#nav .row .nav > div ol li a{position: relative;}
/* 밑줄 효과 */
#nav .row .nav > div ol li a::after{content: ''; width: 0; height: 1px; background-color: #25aad0; transition: all 5s ease-out; position: absolute; left: 0; bottom: 0; display: inline-block;}
#nav .row .nav > div ol li:hover a:after{width: 100%;}
#nav .row .nav > div:last-child li{width: 100%}
.nav div > h3 strong{font-size: 18px; color: #25a2d0; font-weight: bold; margin-bottom: 4px; padding-left: 7px;}
.last h3 {padding-left: 1.9px;}

/* 전체 메뉴 토글버튼 */
#title{background-color: #eaf7fd;}
#title .contaner .title{text-align: center; position: relative;}
#title .contaner .title h2{font-family: 'Nanum Brush Script', cursive; font-size:39px; color: #0093bd; padding: 5px 0px;}
#title .contaner .title .btn{ position: absolute; right: 0px; top: 2px; width: 66px; height: 66px; line-height: 60px; background-color: #3192bf; color: #fff; border-radius: 50%; transition: all 0.3 ease; font-size: 35px}
#title .contaner .title .btn:hover{
  box-shadow: 0px 0px 0px 3px rgba(71,154,191,0.9) inset,
  0 0 0 100px rgba(0,0,0,0.1) inset;
}

/* 섹션 */
#section .contaner{ border-left: 1px solid #dbdbdb;}
#section_left{float: left; width: 250px;}
#section_center{
  overflow: hidden; min-height: 1300px; margin-right: 250px;
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
}
#section_right{width: 250px; position: absolute; top: 0px; right: 0px;}
/* //섹션 */

/* 컨텐츠 */
.column{padding: 15px; border-bottom: 1px solid #dbdbdb;}
.column .col_title{font-size: 20px; color: #2f7fa6; padding-bottom: 5px;}
.column .col_desc{border-bottom: 1px dashed #dbdbdb; padding-bottom: 15px; margin-bottom: 15px; color: #878787; line-height: 18px;}
.col1{}
.col2{}
.col3{border-bottom: 0px;}
.col4{}
.col5{}
.col6{border-bottom: 0px;}
.col7{}
.col8{}
.col9{border-bottom: 0px;}
/* //컨텐츠 */

/* 메뉴 */
.menu{}
.menu ul{background: url(responsiv/img/header_bg.jpg) repeat-x center;}
.menu ul li{position: relative; }
.menu ul li a{font-size: 16px; text-transform: uppercase;
color: #878787; border-bottom: 1px solid #dbdbdb;
padding: 10px; display: block;
transition: box-shadow 0.34s ease,
background-color 0.34s ease; color: #fff;}
.menu ul li a i{position: absolute; top:11px; right:0px;}
.menu ul li a:hover{box-shadow: inset 180px 0 0 0 rgba(36,130,174,0.7);
color: #fff;
background-color: rgba(36,130,174,0.9);}
/* //메뉴 */

/* notice1 */
.notice1{position: relative;}
.notice1 h5{font-size: 14px; color: #2f7fa6; padding-bottom: 5px;}
.notice1 ul li{overflow: hidden; text-overflow: ellipsis; white-space: nowrap; position: relative; padding-left: 5px;}
.notice1 ul li::before{
  content: "";
  width: 3px; height: 3px;
  border-radius: 50%;
  background-color: #449ce2;
  position: absolute; left: 0px; top:7px;
}
.notice1 .more{position: absolute; right: 0px; top:3px; color: #878787; text-transform: uppercase; font-size: 10px;}
.notice1 .fa{padding-left: 5px;}
/* //notice1 */

/* notice2 */
.notice2{position: relative;}
.notice2 h5{font-size: 14px; color: #2f7fa6; padding-bottom: 5px;}
.notice2 ul{}
.notice2 ul li{
  position: relative;
  overflow: hidden; text-overflow: ellipsis; display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:2;
  padding-left: 5px;
  margin-bottom: 5px;
  max-height: 40px; /* ie */
}
.notice2 ul li::before{
  content: "";
  width: 3px; height: 3px;
  border-radius: 50%;
  background-color: #449ce2;
  position: absolute; left: 0px; top:7px;
}
.notice2 .more{position: absolute; right: 0px; top:3px; color: #878787; text-transform: uppercase; font-size: 10px;}
.notice2 .fa{padding-left: 5px;}
/* //notice2 */

/* blog1 */
.blog1{}
.blog1 img{width: 100%;}
.blog1 .img-normal{}
.blog1 .img-retain{display: none;}
/* //blog1 */

/* blog2 */
.blog2{}
.bolg2
/* //blog2 */
.blog2 h5 {color: #fff; text-align: center; padding: 30px 30px; text-transform: uppercase;}
.blog2 p {padding-top: 5px;}
.blog2 .img-retina {
    width: 100%;
    height: 60px;
    background-image: url(responsiv/img/blog4_@1.jpg);
    background-size: cover;
}

/* 풋터 */
.footer{border-top: 1px solid black;}
/* //풋터 */

/* 컨테이너 */
.contaner{ position: relative;width: 1200px; height: inherit; margin: 0 auto;}
/*//컨테이너 */
/* 미디어 쿼리 */
/* 화면 너비 0 ~ 1220px */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx) {
  .blog1 .img-retina {display: initial;}
  .blog1 .img-normal {display: none;}
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx) {
  .blog1 .img-retina {background-image: url(responsiv/img/blog3_@2.jpg);}
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 1.5dppx) {
  .blog1 .img-retina {background-image: url(responsiv/img/blog3_@3.jpg);}
}
/* 이미지 슬라이더 */
.slider figure {position: relative;}
.slider figcaption{
  position: absolute; bottom: 0px; left: 0px; width: 100%; padding: 20px;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.2);
  color: #fff;
  font-size: 18px;
}

.slider figcaption em{display: block; font-weight: bold; font-size: 28px;
text-transform: uppercase; font-family: 'Abel',sans-serif; opacity: 0;
transition: all 0.8s ease; transform: translateX(50px);}

.slider figcaption span{display: block; overflow: hidden; text-overflow: ellipsis;
white-space: nowrap;
transition: all 0.8s 0.2s ease; transform: translateX(80px);}

.slider .slick-active figure em {opacity: 1; transform: translateX(0);}
.slider .slick-active figure span { transform: translateX(0);}

.slider .slick-dots {display: block; text-align: center;  width: 100%;}
.slider .slick-dots li{display: inline-block; width: 15px; height: 15px; margin: 5px;}
.slider .slick-dots li button{font-size: 0px; line-height:0; display: block; width: 15px; height: 15px;
cursor: pointer; background: #5dbfeb; border-radius: 50%;}
.slider .slick-dots li.slick-active button {background: #2b91c8;}
.slider .slick-prev{position: absolute; left: 0px; bottom: 0px; z-index: 1000;
width: 30px; height: 30px; display: inline-block; text-indent: -9999px; font: normal normal normal
14px/1 FontAwesome;}
.slider .slick-prev::before{"\f053";
color: #5dbfeb;
text-indent: 0;}
.slider .slick-next{position: absolute; right: 0px; bottom: 0px; z-index: 1000;
width: 30px; height: 30px; display: inline-block; font: normal normal normal
14px/1 FontAwesome; text-indent: -9999px;}

.slider .slick-next::before{
  content: "\f054";
  color: #5dbfeb;
  text-indent: 0;
  position: absolute; left: 11px; top: 8px;
}

.slider .slick-prev::before{
  content: "\f053";
  color: #5dbfeb;
  text-indent: 0;
  position: absolute; left: 11px; top: 8px;
}
/* //이미지 슬라이더 */

/* 라이트 박스 */
.lightbox a{position: relative; width: 19%; margin:0.5%; float: left; overflow: hidden;}
.lightbox a img{width: 100%; display: block;}
.lightbox a em{width: 100%; position: absolute; left: 0px; bottom: -30px; background-color: rgba(0,0,0,0.54); text-align: center; color: #fff; transition: all .3s ease;}
.lightbox a:hover em{bottom:0px; transition: all .3s ease;}
.square a:hover em {bottom: 0; background: rgba(0,0,0,.57);}
.square a:nth-child(1):hover img {filter: blur(2px);}
.square a:nth-child(2):hover img {filter: brightness(50%);}
.square a:nth-child(3):hover img {filter: contrast(10%);}
.square a:nth-child(4):hover img {filter: grayscale(100%);}
.square a:nth-child(5):hover img {filter: hue-rotate(120deg);}
.square a:nth-child(6):hover img {filter: invert(100%);}
.square a:nth-child(7):hover img {filter: opacity(10%);}
.square a:nth-child(8):hover img {filter: saturate(10%);}
.square a:nth-child(9):hover img {filter: sepia(120%);}
.square a:nth-child(10):hover img {filter: sepia(120%) hue-rotate(120deg);}
/*// 라이트 박스 */

/* 비디오 (iframe) */
.video{width: 100%; position: relative; padding-bottom: 56.25%;}
.video iframe{width: 100%; height: 100%; position: absolute;}
/* //비디오 */


@media (max-width: 1220px){
  .contaner{width: 100%;}
  .row {padding: 0 15px;}
  .btn{right: 5px; }
  .header_menu a:last-child{margin-right: 5px;}
  #section .contaner{border: 0px;}
  .square a {width: 24%;}
  .square a:nth-child(4n) {display: none;}
}

@media (max-width: 1020px) {
  .square a{width: 24%}
  .square a:nth-child(4){display: none;}
}

@media (max-width: 960px){
  #nav .row .nav > div{float: none; width: 100%;}
  #nav .row .nav > div:last-child{width: 100%;}
  #nav .row .nav > div ol li{width: 33.3333%;}
  #nav .row .nav > div:last-child li{width: 33.333%;}
  #nav .row .nav > div ol{margin-bottom: 10px;}

  /* 섹션 */
  #section_right{position: static; width: 100%; border-top: 1px solid #dbdbdb;}
  #section_center{margin-right: 0px; border-right:0px;}
  /* // 섹션 */

  /* 사이드 메뉴 */
  #section{overflow: hidden;}
  #section_right .column{width: 33.3333%; float: left; box-sizing: border-box;}
  /* 사이드 메뉴 */
}

@media (max-width: 768px){
    #section_left {float: none; width: 100%;}
    #section_center {border-left: 0px;}
    .square a{width: 49%}
    .square a:nth-child(4){display: none;}
}

@media (max-width: 600px){
  #nav .row .nav > div ol li{width: 50%;}
  #nav .row .nav > div:last-child li{width: 50%;}
  #header {height: auto;}
  #header #header_title{display: none;}
  #header .header_icon{display: none;}

.slider figgcation {padding: 10px;}
.slider figgcation em {font-size: 18px;}
.slider figgcation span{font-size: 14px;}
  /* 메뉴 작업 */
.column.col1 .col_title{display: none;}
.column.col1 .col_desc{display: none;}
.column.col1 {padding: 0px; border-bottom: 1px solid black;}
.column.col1 .menu ul {overflow: hidden;}
.column.col1 .menu li {float: left; width: 33.3333%; text-align: center; border-right: 1px solid #dbdbdb; box-sizing: border-box;}
.column.col1 .menu li:nth-child(3){border-right: 0px;}
.column.col1 .menu li a {color: #fff; text-shadow: 0 0 5px rgba(0,0,0,0.7)}
.column.col1 .menu li a:hover{box-shadow: none; background-color: rgba(36,140,174,0.4);}
.column.col1 .menu li i {display: none;}
.column.col2{background-color: #fff;}
.column.col4{border-top: 1px solid #dbdbdb;}
  /* //메뉴 작업 */
  #section_right .column {width: 50%;}
  #section_right .column.col8 {border-right: 0;}
  #section_right .column.col9 {display: none;}
  .square a {width: 49%;}
  .square a:nth-child(3n){display: none;}
}

@media (max-width: 320px){
  #nav .row .nav > div ol li{width: 100%;}
  #nav .row .nav > div:last-child li{width: 100%;}

  #section_right .column {width: 100%; float: none;}
  #section_right .column.col8 {border-right: 0;}
  #section_right .column.col9 {display: block;}
}
